$color: (
  primary:  rgb(195, 209, 196),
  white:    #ffffff,

);

$body__width: 100%;
$body__font-size:24px;
$body__font-family:-apple-system, 'Microsoft JhengHei',"Roboto", sans-serif ;
$body__color:white;
$body__background-color:#293B29;